* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

:root {
    --green2: #327549;
    --green: #1DB954;
    --black: #000000;
    --white: #ffffff;
    --background: #4f6357;
    --blue: #0094f6;
    --gray: #8c8c8c;

}

body {
    line-height: 1.5;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 100px;
    display: flex;
    background-color: var(--white);

}

.menu_responsiveness {
    display: none;

}

.navegation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 30px;
    backdrop-filter: blur(3px);

}


.navegation ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 30px;
    
}

.navegation a {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--black);
    padding: 4px 13px;
    position: relative;
    transition: 0.5s;
    margin: 0;

}

.navegation a::before,
.navegation a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    transition: width 0.4s ease, left 0.4s ease, right 0.4s ease;
    background-color: var(--green);
    border-radius: 2px;

}

.navegation a::before {
    left: 50%;

}

.navegation a::after {
    right: 50%;

}

.navegation a:hover::before {
    width: 50%;
    left: 0;

}

.navegation a:hover::after {
    width: 50%;
    right: 0;

}

.logo {
    width: 90px;
    height: 90px;
    object-fit: cover;

}


main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 19px;

}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 19px;
    flex: 1;
    padding-left: 20px;

}

.box-img {
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: 10px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.9);
    padding: 15px;
    text-align: center;
    transition: 0.4s;
    cursor: pointer;

}

.box-img:hover {
    transform: translateY(-5px);
}

.box-img img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
    border: 2px solid var(--black);

}

.box-img h2 {
    font-size: 1.4rem;
    margin: 10px 0 4px;
    color: var(--green);

}

.box-img p {
    color: var(--background);

}

.box-img span {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--blue);
    
}

header {
    display: flex;
    padding: 20px 29px;
    justify-content: space-between;
    font-weight: bold;

}

.filter, .remove-filter {
    cursor: pointer;

}

.filter:hover, .remove-filter:hover {
    text-decoration: underline;

}

.buttons {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 19px;
    transition: 0.3s;

}

.buttons a {
    background-color: var(--green2);
    color: var(--white);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;

}

.copy {
    text-align: center;
    background-color: var(--gray);
    color: var(--black);
    font-size: 0.86rem;
    padding: 5px;

}

.sidebar-filter {
    width: 250px;
    padding: 24px 20px;
    background-color: var(--white);
    border-right: 2px solid var(--black);
    border-radius: 0 15px 15px 0;
    height: 100%;
    position: relative;

}

.sidebar-filter details {
    margin-bottom: 12px;
    background-color: var(--background);
    padding: 7px 11px;
    border-radius: 7px;
    color: var(--white);
    border-bottom: 1px solid var(--green);
    
}

.sidebar-filter details:not(:last-child) {
    margin-bottom: 12px;

}

.sidebar-filter summary {
    cursor: pointer;
    padding: 1px 0;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.sidebar-filter label {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin: 5px 0;
    padding: 2px 5px;
    border-radius: 7px;

}

.sidebar-filter input[type="checkbox"] {
    margin-right: 7px;
    accent-color: var(--green);
    transform: scale(1.2);
    cursor: pointer;

}
