@layer base, demo;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

:root {
    --green: #1DB954;
    --green2: #327549;
    --black: #000000;
    --white: #ffffff;
    --background: #4f6357;
    --blue: #0094f6;
    --gray: #8c8c8c;

}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    min-height: 100vh;
    background-color: var(--white);
    padding-top: 100px;
    overflow-x: hidden;

}

.menu_responsiveness {
    display: none;

}

.navegation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 30px;
    backdrop-filter: blur(3px);

}


.navegation ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 30px;
    
}

.navegation a {
    position: relative;
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--black);
    padding: 4px 13px;
    transition: 0.5s;

}

.navegation a::before,
.navegation a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    transition: width 0.4s ease, left 0.4s ease, right 0.4s ease;
    background-color: var(--green);
    border-radius: 2px;

}

.navegation a::before {
    left: 50%;

}

.navegation a::after {
    right: 50%;

}

.navegation a:hover::before {
    width: 50%;
    left: 0;

}

.navegation a:hover::after {
    width: 50%;
    right: 0;

}

.logo {
    width: 90px;
    height: 90px;
    object-fit: cover;

}


main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 19px;

}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 19px;
    flex: 1;
    padding-left: 20px;

}

.box-img {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.4);
    padding: 15px;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;

}

.box-img:hover {
    transform: scale(1.01);
}

.box-img img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;

}

.box-img h2 {
    font-size: 1.4rem;
    margin: 10px 0 4px;
    color: var(--green);

}

.box-img p {
    color: var(--background);

}

.box-img span {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--blue);
    
}

header {
    display: flex;
    padding: 20px 29px;
    justify-content: space-between;
    font-weight: bold;

}

.filter, .remove-filter {
    cursor: pointer;

}

.filter:hover, .remove-filter:hover {
    text-decoration: underline;

}

.buttons {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 19px;
    transition: 0.3s;

}

.buttons a {
    background-color: var(--green2);
    color: var(--white);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;

}

.copy {
    text-align: center;
    background-color: var(--gray);
    color: var(--black);
    font-size: 0.86rem;
    padding: 5px;

}

.sidebar-filter {
    width: 250px;
    padding: 24px 20px;
    background-color: var(--white);
    border-radius: 0 15px 15px 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    position: sticky;

}

.sidebar-filter details {
    margin-bottom: 12px;
    background: linear-gradient(135deg, var(--green2), var(--green));
    padding: 7px 11px;
    border-radius: 9px;
    overflow: hidden;
    transition: 0.3s ease;
    color: var(--white);
    border-bottom: 1px solid var(--green);
    
}

.sidebar-filter details[open] {
    transform: scale(1.01);
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.24);
}

.sidebar-filter details:not(:last-child) {
    margin-bottom: 12px;

}

.sidebar-filter summary {
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    transition: 0.3s ease;
    padding: 2px 7px;
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.sidebar-filter summary::after {
    content: "▾";
    transition: transform 0.3s ease;

}

.sidebar-filter details[open] summary::after {
    transform: rotate(-180deg);

}

.sidebar-filter label {
    display: flex;
    background-color: var(--gray);
    border: 2px solid var(--green);
    border-radius: 9px;
    padding: 5px 10px;
    cursor: pointer;
    align-items: center;
    margin: 5px 0;
    gap: 7px;

}

.sidebar-filter input[type="checkbox"] {
    margin-right: 7px;
    accent-color: var(--white);
    transform: scale(1.2);
    cursor: pointer;

}

/* Animação do slider infinito abaixo do site, que pausa ao passar o mouse por cima */
@layer demo {
    .carousel {
        --duration: 35s;
        --items: 14;
        --item-width: 120px;
        --item-height: 60px;
        --gap: 2rem;

        position: relative;
        display: flex;
        height: var(--item-height);
        width: 100vw;
        align-items: center;
        overflow: hidden;
        color: var(--gray);
        
    }

    .carousel article {
        display: flex;
        gap: var(--gap);
        animation: slide var(--duration) linear infinite;
        
    }

    .carousel::before, 
    .carousel::after {
        content: "";
        top: 0;
        position: absolute;
        width: 80px;
        height: 100%;
        pointer-events: none;
        z-index: 2;

    }

    .carousel:before {
        left: 0;
        background: linear-gradient(to right, var(--white), transparent);

    }

    .carousel::after {
        right: 0;
        background: linear-gradient(to left, var(--white), transparent);

    }

    /* Animação do slide infinito */
    @keyframes slide {
        0% { transform: translateX(0); }
    
        100% { transform: translateX(calc(-1 * (var(--item-width) + var(--gap)) * var(--items) / 2)); }
    }
    
    .carousel p {
        height: var(--item-height);
        width: var(--item-width);
        object-fit: contain;
        transition: 0.4s ease;
        cursor: default;

    }
    
    /* Animação com o objetivo de ao passar o mouse, afetar todos os elementos dentro da
    circle, menos o elemento no qual o mouse está */
    .carousel article:has(p:hover) p:not(:hover) {
        opacity: 0.5;
        color: var(--background);
        
    }
}