* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

:root {
    --green: #1db954;
    --black: #000000;
    --text: #ffffff;
    --background: #4f6357;
    --effects: #c0c0c0;

}

body {
    color: var(--text);
    line-height: 1.5;
    overflow-x: hidden;
    background-color: var(--background);

}

.menu_responsiveness {
    display: none;

}

.navegation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;

}

.navegation ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 30px;

}

.navegation a {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--text);
    padding: 4px 13px;
    position: relative;
    transition: 0.5s;
    margin: 0; 

}

.navegation a::before,
.navegation a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    height: 2px;
    transition: width 0.4s ease, left 0.4s ease, right 0.4s ease;
    background-color: var(--green);
    border-radius: 2px;

}

.navegation a::before {
    left: 50%

}

.navegation a::after {
    right: 50%;

}

.navegation a:hover::before {
    width: 50%;
    left: 0;

}

.navegation a:hover::after {
    width: 50%;
    right: 0;

}

.logo-icon img {
    display: flex;
    width: 120px;
    margin: 2px;

}


