* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

:root {
    --green: #1DB954;
    --black: #000000;
    --white: #ffffff;
    --blue: #0094f6;

}

body {
    line-height: 1.5;
    background-color: var(--black);
    color: var(--white);

}

.menu {
    display: none;

}

.menu_responsiveness {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 1001;

}

.menu_responsiveness span {
    width: 26px;
    height: 4px;
    background-color: var(--black);
    transition: 0.3s ease;

}

/* Responsividade (IMPORTANTE) */
@media (max-width: 768px) {
    .logo {
        display: none;
    }

        .menu_responsiveness {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        z-index: 1001;

    }

    .menu_responsiveness span {
        width: 26px;
        height: 5px;
        background-color: var(--white);
        transition: 0.4s ease;

    }

    .navegation ul {
        display: none;
    }

    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 220px;
        height: 100vh;
        background-color: var(--black);
        border-right: 2px solid var(--white);
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        padding: 0 20px;
        transition: left 0.4s ease;
        z-index: 1000;

    }

    .menu:checked ~ .nav {
       left: 0;

    }

    .menu:checked ~ .menu_responsiveness span {
        background-color: var(--white);
        
    }

    .nav li a {
        font-size: 1.1rem;
        color: var(--white);

    }

    .navegation {
        padding: 10px 20px;
        justify-content: flex-end;

    }
    
    .hero {
        height: auto;
        background-attachment: scroll;
        padding: 80px 20px;
        text-align: center;

    }

    .hero .title {
        max-width: 95%;
        padding: 20px;
        margin: 0 auto;
        border-width: 1.4px;

    }

    .hero .title h2 {
        font-size: 1.5rem;
        margin-bottom: 14px;

    }

    .hero .title p {
        font-size: 0.94rem;
        line-height: 1.4;
        text-align: left;

    }
}

/* Responsividade (IMPORTANTE) */
@media (max-width: 1366px) {
    .hero {
        height: 80vh;

    }

    .hero .title h2 {
        font-size: 2rem;

    }

    .hero .title p {
        font-size: 1rem;

    }
}

.navegation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 30px;
    backdrop-filter: blur(3px);

}

.navegation ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 30px;

}

.navegation a {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--white);
    padding: 4px 13px;
    position: relative;
    transition: 0.5s;
    margin: 0; 

}

.navegation a::before,
.navegation a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    transition: width 0.4s ease, left 0.4s ease, right 0.4s ease;
    background-color: var(--green);
    border-radius: 2px;

}

.navegation a::before {
    left: 50%

}

.navegation a::after {
    right: 50%;

}

.navegation a:hover::before {
    width: 50%;
    left: 0;

}

.navegation a:hover::after {
    width: 50%;
    right: 0;

}

.logo {
    width: 90px;
    height: 90px;
    object-fit: cover;

}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(/Images/Car2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    z-index: 2;

}

.hero::before {
    content: "";
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    position: absolute;

}

.hero .title {
    position: relative;
    z-index: 2;
    text-align: center;
    margin:  0 auto;
    max-width: 900px;
    background: rgba(0, 0, 0, 0.55);
    padding: 30px;
    border-radius: 15px;
    border: 2px solid var(--green);

}

.hero .title p {
    color: var(--white);
    font-size: 1rem;
    line-height: 1.7;
    text-align: justify;
    margin-bottom: 18px;
    margin-top: 14px;
    padding: 0;

}

.hero .title h2 {
    color: var(--white);
    text-transform: uppercase;
    padding: 0;
    margin: 10px;
    margin-bottom: 20px;
    font-size: 2rem;

}

.hero .title span {
    color: var(--green);
    font-weight: 700;

}

.see-more {
    color: var(--blue);
    text-decoration: none;

}

.see-more:hover {
    text-decoration: underline;
}
