* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

:root {
    --green: #1DB954;
    --black: #000000;
    --text: #ffffff;
    --background: #4f6357;
    --effects: #c0c0c0;

}

body {
    line-height: 1.5;
    overflow-x: hidden;
    background-color: var(--black);
    color: var(--text);

}

.menu_responsiveness {
    display: none;

}

.navegation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;

}

.navegation ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 30px;

}

.navegation a {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--text);
    padding: 4px 13px;
    position: relative;
    transition: 0.5s;
    margin: 0; 

}

.navegation a::before,
.navegation a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    transition: width 0.4s ease, left 0.4s ease, right 0.4s ease;
    background-color: var(--green);
    border-radius: 2px;

}

.navegation a::before {
    left: 50%

}

.navegation a::after {
    right: 50%;

}

.navegation a:hover::before {
    width: 50%;
    left: 0;

}

.navegation a:hover::after {
    width: 50%;
    right: 0;

}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(/Images/Car2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    z-index: 2;

}

.hero::before {
    content: "";
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    position: absolute;

}

.hero * {
    position: relative;
    z-index: 2;

}

.hero .title {
    position: relative;
    z-index: 2;
    text-align: center;
    margin:  0 auto;
    padding: 0 10px;
    max-width: 900px;
    background: rgba(0, 0, 0, 0.55);
    padding: 30px;
    border-radius: 6px;
    border: 4px solid var(--green);

}

.hero .title p {
    text-align: justify;
    color: var(--text);
    font-size: 1rem;
    line-height: 1.7;
    text-align: justify;
    margin-bottom: 18px;
    margin-top: 14px;
    padding: 0;

}

.hero .title h2 {
    color: var(--text);
    text-transform: uppercase;
    padding: 0;
    margin: 10px;
    margin-bottom: 20px;
    font-size: 2rem;

}

.hero .title span {
    color: var(--green);
    font-weight: 700;

}
