* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

:root {
    --green2: #327549;
    --black: #000000;
    --white: #ffffff;
    --bg: #c7e0ff;
    --orc: #1fd41f;
    --btn: #1fd41f;

}

body {
    line-height: 1.5;
    overflow: hidden;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    position: relative;
 
}

.menu_responsiveness {
    display: none;

}

.navegation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 30px;
    backdrop-filter: blur(3px);

}


.navegation ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 30px;
    
}

.navegation a {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--black);
    padding: 4px 13px;
    position: relative;
    transition: 0.5s;
    margin: 0;

}

.navegation a::before,
.navegation a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    transition: width 0.4s ease, left 0.4s ease, right 0.4s ease;
    background-color: var(--green2);
    border-radius: 2px;

}

.navegation a::before {
    left: 50%;

}

.navegation a::after {
    right: 50%;

}

.navegation a:hover::before {
    width: 50%;
    left: 0;

}

.navegation a:hover::after {
    width: 50%;
    right: 0;

}

.logo {
    width: 90px;
    height: 90px;
    object-fit: cover;

}

.card, .pay, .cars {
    width: 100%;
    border: 1px solid var(--black);
    border-radius: 7px;
    margin-bottom: 12px;
    padding: 10px;

}

.box  { 
    max-width: 700px;
    width: 90%;
    border: 2px solid var(--black);
    justify-content: center;
    padding:  19px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    background-color: var(--white);

}

.title h2 i {
    color: var(--white);
    font-size: 25px;
    margin-left: 11px;
    
}

.budget  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 40px;
    margin-top: 10px;

}

.orc {
    color: var(--orc);
    font-weight: 600;
    font-size: 28px;

}

.buttom  {
    display: inline-block;
    background-color: var(--btn);
    color: var(--white);
    text-align: center;
    border-radius: 7px;
    padding: 11px 36px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.4s;
    margin-top: 10px;

}

.buttom:hover {
    background-color: var(--green2);
  

}

.payment h3 {
    flex-direction: column;
    display: flex;
    gap: 8px;

}

.radio {
    flex-direction: column;
    display: flex;
    gap: 13px;
    margin-top: 4px;
    cursor: pointer;

}

.radio  input {
    vertical-align: middle;
    margin-left: 8px;
    margin-right: 11px;

}

.radio label {
    display: flex;
    font-size: 16px;
    color: var(--black);
    align-items: center;

}

.pay,
.cars {
    cursor: pointer;

}

