* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

:root {
    --green: #1DB954;
    --black: #000000;
    --white: #ffffff;
    --background: #4f6357;

}

body {
    line-height: 1.5;
    overflow-x: hidden;
    background-color: var(--white);

}

.menu {
    display: none;

}

.menu_responsiveness {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 1001;
    
}

.menu_responsiveness span {
    width: 26px;
    height: 4px;
    background-color: var(--black);
    transition: 0.4s ease;

}

/* Responsividade (IMPORTANTE) */
@media (max-width: 768px) {
    .logo {
        display: none;

    }

    .menu_responsiveness {
        display: flex;

    }

    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 220px;
        height: 100vh;
        background-color: var(--black);
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        padding-left: 20px;
        transition: left 0.3s ease;
        z-index: 1000;

    }

    .menu:checked ~ .nav {
        left: 0;

    }

    .menu:checked ~ .menu_responsiveness span {
        background-color: var(--white);
    }

    .nav li a {
        font-size: 1.1rem;
        color: var(--white);

    }

    .navegation {
        padding: 10px 20px;
        justify-content: center;

    }

    .title h2 {
        font-size: 1.4rem;
        padding: 60px 10px;

    }

    p {
        padding: 20px;
        font-size: 0.94rem;

    }

    .container {
        flex-direction: column;
        align-items: center;
        padding: 30px 0;

    }
    
    .box {
        max-width: 90%;

    }

    .contact img {
        width: 40px;
        height: 40px;
        margin-top: 20px;

    }
}

.navegation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 30px;
    backdrop-filter: blur(3px);

}

.navegation ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 30px;
    
}

.navegation a {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--black);
    padding: 4px 13px;
    position: relative;
    transition: 0.5s;

}

.navegation a::before,
.navegation a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    height: 2px;
    transition: width 0.4s ease, left 0.4s ease, right 0.4s ease;
    background-color: var(--green);
    border-radius: 2px;

}

.navegation a::before {
    left: 50%

}

.navegation a::after {
    right: 50%;

}

.navegation a:hover::before {
    width: 50%;
    left: 0;

}

.navegation a:hover::after {
    width: 50%;
    right: 0;

}

.logo {
    width: 90px;
    height: 90px;
    object-fit: cover;

}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 14%;

}

.title h2 {
    color: var(--black);
    text-transform: uppercase;
    margin: 14px;
    padding: 79px 25px;
    font-size: 2rem;

}

.title span {
    color: var(--green);
    text-transform: uppercase;
    font-weight: 700;

}

p {
    text-align: justify;
    padding: 30px;

}

.comment {
    color: var(--background);
}

.box {
    border-radius: 30px;
    background-color: var(--background);
    transition: 0.4s ease;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    max-width: 298px;

}

.box img {
    border-radius: 20px;
    margin: 20px;
    height: 190px;
    width: 246px;
    object-fit: cover;
    justify-content: space-between;

}

.box .meet {
    display: block;
    padding: 14px;
    width: 100%;
    border: none;
    color: var(--white);
    background-color: var(--background);
    font-size: 1rem;
    cursor: pointer;
    transition: 0.4s ease;
    border-radius: 0 0 21px 22px;
    
}

.box:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.29);
    cursor: pointer;
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 2px;
    justify-content: center;
    gap: 30px;

}

a {
    text-decoration: none;

}

.contact img {
    width: 50px;
    height: 50px;
    background-color: var(--background);
    transition: 0.4s ease;
   
}

a {
    text-decoration: none;

}
