* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

:root {
    --green: #1DB954;
    --black: #000000;
    --white: #ffffff;
    --background: #4f6357;

}

body {
    line-height: 1.5;
    overflow-x: hidden;
    background-color: var(--white);

}

.menu_responsiveness {
    display: none;

}

.navegation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;

}

.navegation ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 30px;

}

.navegation a {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--black);
    padding: 4px 13px;
    position: relative;
    transition: 0.5s;
    margin: 0; 

}

.navegation a::before,
.navegation a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    height: 2px;
    transition: width 0.4s ease, left 0.4s ease, right 0.4s ease;
    background-color: var(--green);
    border-radius: 2px;

}

.navegation a::before {
    left: 50%

}

.navegation a::after {
    right: 50%;

}

.navegation a:hover::before {
    width: 50%;
    left: 0;

}

.navegation a:hover::after {
    width: 50%;
    right: 0;

}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 14%;
    min-height: 100vh;

}

header .title {
    max-width: 900px;

}

header .title p {
    text-align: justify;
    margin-bottom: 19px;
}

.title h2 {
    color: var(--black);
    text-transform: uppercase;
    margin: 10px;
    padding: 30px 25px;
    font-size: 2rem;

}

.title span {
    color: var(--green);
    text-transform: uppercase;
    font-weight: 700;
    font-family: sans-serif;

}

p {
    text-align: justify;
    padding: 30px;

}

.comment {
    color: var(--background);
}

.img img {
    border-radius: 20px;
    margin: 20px;
    height: 190px;
    width: 246px;
    object-fit: cover;
    justify-content: space-between;

}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 2px;
    justify-content: center;
    gap: 30px;

}

.box {
    border-radius: 22px;
    background-color: var(--background);
    transition: 0.4s ease;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    max-width: 298px;

}

.box .meet {
    display: block;
    padding: 14px;
    width: 100%;
    border: none;
    color: var(--white);
    background-color: var(--background);
    font-size: 1rem;
    cursor: pointer;
    transition: 0.4s ease;
    border-radius: 0 0 21px 22px;
    
}

.box:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.29);
    cursor: pointer;
    
}

a {
    text-decoration: none;

}

.contact img {
    width: 50px;
    height: 50px;
    background-color: var(--background);
    transition: 0.4s ease;
   
}

.contact img:hover {
    transform: scale(1.06);
    
}

