* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}

:root {
  --green: #1DB954;
  --black: #000000;
  --white: #ffffff;
  --background: #4f6357;
  --silver: #8c8c8c;

}

body {
  color: var(--white);
  line-height: 1.5;
  overflow-x: hidden;
  
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url(/Images/Car4.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.hero::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;

}

.menu_responsiveness {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    z-index: 1001;

}

.menu_responsiveness span {
  display: block;
  width: 26px;
  height: 4px;
  background-color: var(--white);
  transition: 0.3s ease;

}

.menu {
  display: none;

}

/* Responsividade (IMPORTANTE) */
@media (max-width: 768px) {
  body {
    overflow: hidden;

  }

  .logo {
    display: none;

  }

  .menu_responsiveness {
    display: flex;

  }

  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 220px;
    background-color: var(--black);
    flex-direction: column;
    padding-top: 100px;
    padding-left: 30px;
    transition: left 0.4s ease;
    gap: 20px;
    z-index: 1000;

  }

  .menu:checked ~ .nav {
    left: 0;

  }

  .nav li a {
    font-size: 1.1rem;

  }

  .navegation {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

  }

  .title {
    padding: 20px;
    text-align: center;
    
  }

  footer {
    display: none;

  }
}

.logo-footer {
  font-size: 19px;

}

.navegation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 30px;
    backdrop-filter: blur(3px);

}

.navegation ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 30px;

}

.navegation a {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--white);
    padding: 4px 13px;
    position: relative;
    transition: 0.5s;
    margin: 0; 

}

.navegation a::before,
.navegation a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    height: 2px;
    transition: width 0.4s ease, left 0.4s ease, right 0.4s ease;
    background-color: var(--green);
    border-radius: 2px;

}

.navegation a::before {
    left: 50%

}

.navegation a::after {
    right: 50%;

}

.navegation a:hover::before {
    width: 50%;
    left: 0;

}

.navegation a:hover::after {
    width: 50%;
    right: 0;

}

.logo {
    width: 90px;
    height: 90px;
    object-fit: cover;

}

.title {
  position: fixed;
  text-align: center;
  color: var(--white);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.title h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1rem;
  text-transform: uppercase;

}

.title p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;

}

.title span {
    color: var(--green);
    font-weight: 900;
    font-family: sans-serif;

}

.button1 {
  display: inline-block;
  padding: 11px 22px;
  color: var(--white);
  background-color: var(--background);
  text-decoration: none;
  border-radius: 37px;
  transition: 0.3s;
  font-size: 1rem;

}

.button1:hover {
  color: var(--background);
  background-color: var(--white);
  cursor: pointer;

}

footer {
  display: flex;
  color: var(--white);
  background-color: var(--silver);
  padding: 40px 20px;
  text-align: center;

}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;

}

.column h2 {
  margin-bottom: 10px;

}
.column ul {
  padding: 0;
  list-style: none;

}

.column ul li {
  margin-bottom: 10px;
  color: var(--white);

}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 39px;
  padding-top: 20px;

}

.logo-footer {
  font-size: 19px;

}

.networks i {
  width: 23px;
  margin-left: 10px;
  margin-top:40px;
  padding: 18px;
  justify-content: space-between;
  transition: 0.2s;
  font-size: 1.4rem;
  cursor: pointer;
 
}
