* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

:root {
    --green: #1DB954;
    --black: #000000;
    --text: #FFFFFF;
    --background: #4f6357;
    --effects: #C0C0C0;

}

body {
    color:  var(--text);
    line-height: 1.5;

}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(/Images/imagem-skyliner-r35.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
}

.hero::before {
    content: ' ';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

html {
    scroll-behavior: smooth;

}

.navegation {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    
}

.navegation ul {
    display:  flex;
    list-style: none;
    gap: 30px;
    
}

.navegation a {
    text-decoration: none;
    font-size: 1.1rem;
    color:  var(--text);
    padding: 8px 10px;
    position: relative;
    transition: 0.5s;
    
}

.navegation a::before, .navegation a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    transition: width 0.4s ease, left 0.4s ease, right 0.4s ease;
    background-color: var(--green);
    border-radius: 2px;

}

.navegation a::before {
    left: 50%;

}

.navegation a::after {
   right: 50%;
    
}

.navegation a:hover::before {
    width: 50%;
    left: 0;

}

 .navegation a:hover::after {
    width: 50%;
    right: 0;

}

.logo-icon img {
    display: flex;
    width: 120px;
    margin: 2px;
    
}

.title {
    position: fixed;
    text-align: center;
    color: var(--text);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.title h2 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1rem;

}

.title p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;

}

.buttom {
    display: inline-block;
    padding: 10px 22px;
    color: var(--text);
    background-color: var(--green);
    text-decoration: none;
    border-radius: 37px;
    transition: 0.5s;
    font-size: 1rem;

}

.buttom:hover {
    transform: scale(1.04);
    cursor: pointer;

}



